@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.login-registrer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4CE47;
}

.title-form {
    font-family: 'Kavoon';
    font-size: 2rem;
    color: #eee;
    margin-bottom: 1rem;
}

.container-form {
    background: #000;
    width: 30%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 5);
}

.my-form {
    width: 100%;
    display: flex;
    padding: 1rem;
    color: #eee;
    flex-direction: column;
    font-family: 'Hammersmith One', sans-serif;

}

p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Hammersmith One', sans-serif;
}

.navLogin {
    color: #0a7ffc;
    text-decoration: none;
    padding: 0.5rem;
}

.navLogin:hover {
    text-decoration: underline;
}