@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


$color-primary: #F4CE47;
$color-secondary: #F3E4AE;
$black: #000000;
$white: #ffffff;